.section {
    background-color: white;
    margin: 20px 0;
}

.section__header {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    margin: 0;
}

.header__title {
    justify-content: flex-start;
}

.section__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    margin: 0;
}

@media (max-width: 600px) {
    .section__container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}