.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
}

.container__header {
    margin: 0;
}

@media (max-width: 600px) {
    .container__header {
        justify-content: start;
    }
}

.container__button {
    border: none;
    background-color: white;
    color: teal;
    cursor: pointer;
}


.container__button:hover {
    color: hsl(180, 100%, 35%);
    transition: .2s;
}

.container__button:disabled {
    color: #ccc;
    transition: .2s;
    cursor: auto;
}